/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    font-size: 14px; /* Tamaño base */
}

/* Header and Navigation */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px; /* Aumentado */
}

nav ul li a:hover {
    color: #ffa500;
}

/* Main Content */
main {
    padding: 20px;
    background: #fff;
    margin: 20px auto;
    max-width: 800px; /* Ajustado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px; /* Menos espacio */
}

h1 {
    font-size: 26px; /* Aumentado */
    text-align: center;
    color: #333;
}

h2 {
    font-size: 22px; /* Aumentado */
    color: #333;
}

p {
    font-size: 16px; /* Aumentado */
    color: #666;
}

/* Gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gallery img {
    max-width: 90%; /* Ajustado */
    height: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

iframe {
    max-width: 90%; /* Ajustado */
    height: auto;
    border: none;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    font-size: 14px; /* Aumentado */
}

@media (max-width: 768px) {
    /* Estilos para pantallas pequeñas (móviles y tablets) */
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    .gallery img {
        max-width: 100%; /* Ajuste para imágenes en pantallas pequeñas */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para pantallas medianas (tablets en modo horizontal y pantallas de escritorio más pequeñas) */
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .gallery img {
        max-width: 90%; /* Ajuste para imágenes en pantallas medianas */
    }
}

@media (min-width: 1025px) {
    /* Estilos para pantallas grandes (pantallas de escritorio) */
    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 16px;
    }

    p {
        font-size: 13px;
    }

    .gallery img {
        max-width: 70%; /* Ajuste para imágenes en pantallas medianas */
    }
}
