body {
    display: flex;
    justify-content: center; 
    align-items: center;

    background-image: url(imagen.jpg);
    background-size: cover;
    background-size: 720px;
    background-position: center;
    backdrop-filter: blur(10px);
}

img {
    margin-top: 0px;
    height: 740px;
    float: center;
}